<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SelectUserIdFromDBQuery" value="select * from userinfo where userinfo.username=@username;"/>
		
		<add key="CheckIfUsernameExistsQuery" value="SELECT COUNT(*) FROM userinfo WHERE username =@username;"/>
		
		<add key="NumberOfCharactersCreatedQuery" value="SELECT COUNT(*) FROM characters WHERE id=@id;"/>
		
		<add key="CheckUserCredentialsQuery" value="SELECT * FROM userinfo where username=@username AND password=@password;"/>
		
		<add key="InsertUsernameAndPasswordIntoDBQuery" value="INSERT INTO userinfo (username, password, email) VALUES(@username,@password,@email);"/>
		
		<add key="InsertCharacterDetailsQuery" value="INSERT INTO characters (id, characterName, class, level, race, backgroundStory, experiencePoints, alignment, characterNumber) VALUES(@id,@characterName,@classs,@level,@race,@backgroundStory,@xpPoints,@alignment,@characterNumber);"/>
		
		<add key="UpdateCharacterDetailsQuery" value="UPDATE characters SET strenght = @strenght, dexterity = @dexterity, constitution = @constitution, intelligence =@intelligence, wisdom = @wisdom, charisma= @charisma WHERE characterNumber=@chNum AND id=@id;"/>
		
		<add key="UpdateCharacterDetails2Query" value="UPDATE characters SET characterName = @chName, class = @classs, level = @level, race = @race, experiencePoints = @xp,alignment=@alignment WHERE characterNumber=@chNum AND id=@id;"/>
		
		<add key="UpdateCharacterDetails3Query" value="UPDATE characters SET backgroundStory =@background WHERE characterNumber=@chNum AND id=@id;"/>

		<add key="SelectCharInfoQuery" value="SELECT * FROM characters WHERE id=@id AND characterNumber=@characterNumber;"/>

		<add key="CheckCharacterNameExistForUserQuery" value="SELECT COUNT(*) FROM characters WHERE characterName=@characterName AND id=@id;"/>
	</appSettings>

	<connectionStrings>
		<add name="connectionString" connectionString="SERVER=34.79.57.9;DATABASE=fantasy4you;UID=petko;PASSWORD=?#qsHyQN8Da!$xssJj&amp;R@N4hXTxJD7xDM#4x$Kz&amp;;"/>
	</connectionStrings>
	
</configuration>