<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	</appSettings>

	<connectionStrings>
		<add name="connectionString" connectionString="SERVER=34.79.57.9;DATABASE=fantasy4you;UID=petko;PASSWORD=?#qsHyQN8Da!$xssJj&amp;R@N4hXTxJD7xDM#4x$Kz&amp;;"/>
	</connectionStrings>
	
</configuration>